	/* Using CSS to style a button 
	*/
	#discWinClose {
		border           :1px solid black;
		border-radius    :6px;
		background-color :lightgrey;
		padding          :0.25em; /* Creates spacing around the text */
		margin-top: 5em;
		cursor: pointer;
	}
	#discWinClose:hover {
		background-color :darkgrey;
	}

	#highway61_btn{
		cursor: pointer;
	}

	/* Using CSS to style a window */
	.window {						/* apply style to HTML elements having a tooltip as class name */
		display	: none;				/* window is initially not visible */
		z-index	: 2;					/* place window on top */
		position : fixed;			/* place window on a fixed location  */

		top	: 40%;				/* place the top left corner of the window at  */
	  	left : 47%;				/* the centre of the screen */
	  	margin-top	: -5em;				/* adjust the windows by movin it up */ 
	  	margin-left	: -11em;      /* then moving it to the left to the centre of the window */
		
		background-color: #9C8F6C;
		border-radius : 5px;				/* create a rounded corner */
		border: solid;
		border-width: 0.5px;
		border-color: #11151E;
		padding	: 5px;				/* add a 5px spacing around the text */
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		width : 350px;
		height : 350px;
		text-align : center;

	}

	/* sets up a transparent pane on the screen, preventing the user to click on any
	   items at layer 0 on the screen */
	#scrnOverlay {
		z-index	: 1;					/* use layer 1 to overlay everything in layer 0 */
		visibility	: hidden;

		position : fixed;		/* Block out the whole screen */
		top	: 0;
		bottom : 0;
		left : 0;
		right : 0;

		background-color : #212426;
	  	opacity : 0.6;
	  	filter : alpha(opacity=50); /* For IE8 and earlier */
	}